@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
:root {
    --primary-color: #ED4C67;
    --grey-color: #b3b3b3;
    --light-color: #eaeaea;
    --white-color: #ffffff;
    --dark-color: #000000;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
.contact
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--white-color);
    background-size: cover;
}
.contact .content
{
    max-width: 800px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 35px;
}
.contact .content h2
{
    font-size: 36px;
    font-weight: 500;
    color: var(--dark-color);
}
.contact .content p
{
    font-weight: 300;
    color: var(--dark-color);
}
.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo  .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo a
{
    color: var(--primary-color);
}
.container .contactInfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
}
.container .contactInfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: var(--dark-color);
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3
{
    font-weight: 500;
    color: var(--dark-color);
}
.contactForm
{
    width: 40%;
    padding: 40px;
    border-radius: 25px;
    background-color: var(--grey-color);
    margin-bottom: 0;
}
.contactForm h2
{
    font-size: 30px;
    color: var(--white-color);
    font-weight: 500;
}
.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid var(--dark-color);
    outline: none;
    resize: none;
    border-radius: 15px;
}
/*.contactForm .inputBox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #a5a5a5;
}*/
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #c11919;
    font-size: 12px;
    transform: translate(-20px);
}
.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #ffffff;
    color: var(--dark-color);
    border: none;
    cursor: pointer;
    border-radius: 25px;
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
}
@media (max-width: 991px)
{
    .contact
    {
        padding: 50px;
    }
    .container
    {
        flex-direction: column;
    }
    .container .contactInfo
    {
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm
    {
        width: 100%;
    }
}